<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApq84hFNZSynb267M9t2OSAw7iFSFDxPM</string>
	<key>GCM_SENDER_ID</key>
	<string>278478370742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brahmand.staging</string>
	<key>PROJECT_ID</key>
	<string>sanatan-lok-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>sanatan-lok-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278478370742:ios:cb54abbbbae8b582b47317</string>
</dict>
</plist>